---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="de">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Lecker Schmecker!</h1>
			<p>
				Alles muss probiert werden!
			</p>
			<p>
				Eine Reihe an Verkostungen, Exkursionen und Abenteuern rund um das Thema Essen. Von der
				klassischen Weinprobe über den besten Honig bis zur Frage, welche passierten Tomaten am besten
				zum Lieblingsnudelgericht passen.
			</p>
			<p>Denn nur wer weiß, was wie schmeckt, weiß, was schmeckt.</p>
		</main>
		<Footer />
	</body>
</html>
